body
 {
    background-color: whitesmoke;
    border: double 2px orangered;
    border-radius: 2em;
}

header
{
    background-color: antiquewhite;
    height:100px;
    border-bottom:double 2px black;
    border-top:double 2px black;
    border-radius:2em;
    text-align:center;
    font-family: 'Adobe Ming Std', sans-serif;
    font-size: 80px;
    padding-top: 20px;
    text-decoration:underline;
    text-shadow:4px 3px 2px gray;
    width: 90%;
    margin:auto;
    margin-top:15px;
}

nav
{
    font-family: 'Adobe Garamond Pro','Adobe Kaiti Std', sans-serif;
    font-size: 30px;
    text-align:center;
    background-color:floralwhite;
    width: 900px;
    color: purple;
    border-radius:2em;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    border-left:double 2px black;
    border-right:double 2px black;
}

nav a 
{
    text-decoration: none;
}

.products, .chat, .about, .recipes, .home, .customers, .register, .sitemap
{
    color: orangered;
}

#home1 {
    border: double 2px orangered;
    border-radius: 2em;
    margin:auto;
    margin-bottom: 50px;
     width:90%;
}

.image
 {
    border: double 1px black;
    border-radius: 2em;
    margin:5px;
    width:32%;
    height:200px;
}

p 
{
    margin-left:10%;
    margin-right:10%;
}

table, .order
 {
    border: ridge 2px orangered;
    margin:auto auto auto 0px;
    background-color:antiquewhite;
}

td 
{
    border: ridge 2px orangered;
}



footer
 {
    color: orangered;
    font-family: 'Adobe Ming Std', sans-serif;
}

.form 
{
    width: 700px;
    clear: both;
    margin:auto;
    background-color: antiquewhite;
    border-bottom:double 2px black;
    border-top:double 2px black;
    color:black;
    }
.form input
 {
    clear: both;
 }
#state 
{
    width: 500px;
}
#submit, #edit, #confirm
{
    width: 50%;
    color:purple;
}

.td 
{
    border: 0;
   
}

ul li a
{
    background-color: antiquewhite;
    border-top-left-radius:2em;
    border-bottom: 2px solid orangered;
    border-right: 2px solid orangered;
}

.validator {
    padding-left:50%;
    color: red;
}
.validator2 {
    padding-left: 20%;
    color: red;
}


.center {
    margin-left: 30%;
}

footer {
    width:500px;
    margin:auto;
    color: purple;
    font-size: large;
}

.style1 {
             width: 126px;
         }
        .style3, .style4 {
            width: 360px;
        }
      
        .style6, .style5 {
            color: black;
            font-family: "Adobe Caslon Pro", "Adobe Devanagari", sans-serif;
            width: 210px;
            border-style: none;
            border-color: inherit;
            border-width: 0;
        }
        .style7, .style8 {
            width: 392px;
        }
        .style8, .style4 {
            height: 26px;
        }
.padding
{
    padding-right: 10px;
    padding-left: 10px;
}

#cart
{
    margin: 1%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Adobe Arabic', 'Adobe Caslon Pro', Arial;
    color: purple;
    font-size:20px;
}
    #cart table td
    {
        color: black;
        padding: 10px;
        border:0;
       
    }
    #cart table th
    {
        background-color: lightcyan;
        padding:10px;
        padding-bottom:5px;
        padding-top:5px;
    }



#cart h3
{
    color: orangered;
    
}

#GridViewProducts {
    margin-left: auto;
    margin-right: auto;
}

.myCart {
    color: black;
    font-size: 80%;
    padding: 10px;
}

#SiteMapPath1 {
    background-color: antiquewhite;
    padding:1%;
    width:auto;
    margin-top:10px;
    border-radius:2em;
}

.login {
    color: orangered;
    background-color: antiquewhite;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
    border:0;
    border-bottom:ridge 2px purple;
    border-top-left-radius:2em;
    border-bottom-right-radius:2em;
    padding:1%;
}

    .login td {
        border: 0;
    }

#caption {
    font-size: 36px;
    color:purple;
    text-shadow: 3px 2px 1px gray;
}

.msg {
    color: red;
    font-size: 20px;
    margin-bottom:10%;
}

.checkout {
    padding: 5px;
    margin-left:65%;
}








