<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <connectionStrings>
        <add name="RAGAN_w13ConnectionString" connectionString="Data Source=134.39.173.35;Initial Catalog=RAGAN_w13;Persist Security Info=True;User ID=RAGAN_w13;Password=password"
            providerName="System.Data.SqlClient" />
        <add name="RAGAN_w13ConnectionString2" connectionString="Data Source=134.39.173.35;Initial Catalog=RAGAN_w13;Persist Security Info=True;User ID=Ragan_w13;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms">
       <!-- <forms>
          <credentials passwordFormat="Clear">
            <user name="justkrys1@gmail.com" password="priscilla4520" />
          </credentials>
        </forms>-->
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>

</configuration>
